PHABRICATOR_BASE_URL=https://phabricator.wikimedia.org
PHABRICATOR_API_TOKEN=
PHABRICATOR_PROJECT_PHID=
PHABRICATOR_PROJECT_ID=2087
PHABRICATOR_CONTACT_EMAIL=
APP_NAME=GLAM-Tool-Hospital
APP_VERSION=0.1
APP_URL=https://meta.wikimedia.org/wiki/User:Dactylantha/GLAM_Tool_Hospital
DRY_RUN=true